<a href="https://colab.research.google.com/github/EduardoMoraesRitter/Introducao-NLP-analise-sentimento/blob/master/NLTK_tokenize_stopword.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#tokenização

A tokenização é o processo de receber um texto e separar suas palavras ou pontuação de acordo com um tipo de separação específica, gerando os chamados tokens, que são as partes segregadas daquele texto. usamos como separador o espaço em branco, mas temos outras formas de separar nosso texto.

In [0]:
#biblioteca NLTK
#baixar o NLTP e os dados
import nltk

#baixar para todas as linguas
#nltk.download("all")

In [0]:
frases = ['um filme ruim', 'um filme bom']

In [0]:
#ele calculo a frequencia da frase
nltk.FreqDist(frases)

FreqDist({'um filme bom': 1, 'um filme ruim': 1})

Tokenização - explorando o conceito separa cada palavra

In [29]:
from nltk import tokenize

frase = 'bem vindos ao mundo ao NTLK!'
token = tokenize.WhitespaceTokenizer()
frases_token = token.tokenize(frase)
frases_token

['bem', 'vindos', 'ao', 'mundo', 'ao', 'NTLK!']

In [0]:
nltk.FreqDist(frases_token)

FreqDist({'NTLK!': 1, 'ao': 2, 'bem': 1, 'mundo': 1, 'vindos': 1})

outra forma o split porem nao é tao bom

In [0]:
todas_palavras = ' '.join([texto for texto in frases])
print(todas_palavras)
print('quantidade de palavras: ',len(todas_palavras))

um filme ruim um filme bom
quantidade de palavras:  26

In [0]:
palavras_separadas = todas_palavras.split(" ")
palavras_separadas

['um', 'filme', 'ruim', 'um', 'filme', 'bom']

In [0]:
nltk.FreqDist(palavras_separadas)

FreqDist({'bom': 1, 'filme': 2, 'ruim': 1, 'um': 2})

WordPunctTokenizer nós evitamos que palavras seguidas de pontuação sejam consideradas diferentes.

In [0]:
#[“Os”, “cursos”, “da”, “Alura”, “são”, “ótimos,”, “além”, “de”, “ótimos,”, “têm”, “alunos”, “ótimos!”] 
#- WordPunctTokenizer();
#[“Os”, “cursos”, “da”, “Alura”, “são”, “ótimos”, “,”, “além”, “de”, “ótimos”, “,”, “têm”, “alunos”, “ótimos”, “!”] 
#- WhitespaceTokenizer();

In [32]:
print("space: ",tokenize.WhitespaceTokenizer().tokenize('bem vindos ao mundo ao NTLK!'))
print("Punct: ",tokenize.WordPunctTokenizer().tokenize('bem vindos ao mundo ao NTLK!'))

space:  ['bem', 'vindos', 'ao', 'mundo', 'ao', 'NTLK!']
Punct:  ['bem', 'vindos', 'ao', 'mundo', 'ao', 'NTLK', '!']

#stopword
merge das duas lista remover as stopword das frases

In [22]:
#importar os corpus de palavras
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [23]:
palavras_irrelevantes = nltk.corpus.stopwords.words('portuguese')
print(palavras_irrelevantes)

['de', 'a', 'o', 'que', 'e', 'é', 'do', 'da', 'em', 'um', 'para', 'com', 'não', 'uma', 'os', 'no', 'se', 'na', 'por', 'mais', 'as', 'dos', 'como', 'mas', 'ao', 'ele', 'das', 'à', 'seu', 'sua', 'ou', 'quando', 'muito', 'nos', 'já', 'eu', 'também', 'só', 'pelo', 'pela', 'até', 'isso', 'ela', 'entre', 'depois', 'sem', 'mesmo', 'aos', 'seus', 'quem', 'nas', 'me', 'esse', 'eles', 'você', 'essa', 'num', 'nem', 'suas', 'meu', 'às', 'minha', 'numa', 'pelos', 'elas', 'qual', 'nós', 'lhe', 'deles', 'essas', 'esses', 'pelas', 'este', 'dele', 'tu', 'te', 'vocês', 'vos', 'lhes', 'meus', 'minhas', 'teu', 'tua', 'teus', 'tuas', 'nosso', 'nossa', 'nossos', 'nossas', 'dela', 'delas', 'esta', 'estes', 'estas', 'aquele', 'aquela', 'aqueles', 'aquelas', 'isto', 'aquilo', 'estou', 'está', 'estamos', 'estão', 'estive', 'esteve', 'estivemos', 'estiveram', 'estava', 'estávamos', 'estavam', 'estivera', 'estivéramos', 'esteja', 'estejamos', 'estejam', 'estivesse', 'estivéssemos', 'estivessem', 'estiver', 'estivermos', 'estiverem', 'hei', 'há', 'havemos', 'hão', 'houve', 'houvemos', 'houveram', 'houvera', 'houvéramos', 'haja', 'hajamos', 'hajam', 'houvesse', 'houvéssemos', 'houvessem', 'houver', 'houvermos', 'houverem', 'houverei', 'houverá', 'houveremos', 'houverão', 'houveria', 'houveríamos', 'houveriam', 'sou', 'somos', 'são', 'era', 'éramos', 'eram', 'fui', 'foi', 'fomos', 'foram', 'fora', 'fôramos', 'seja', 'sejamos', 'sejam', 'fosse', 'fôssemos', 'fossem', 'for', 'formos', 'forem', 'serei', 'será', 'seremos', 'serão', 'seria', 'seríamos', 'seriam', 'tenho', 'tem', 'temos', 'tém', 'tinha', 'tínhamos', 'tinham', 'tive', 'teve', 'tivemos', 'tiveram', 'tivera', 'tivéramos', 'tenha', 'tenhamos', 'tenham', 'tivesse', 'tivéssemos', 'tivessem', 'tiver', 'tivermos', 'tiverem', 'terei', 'terá', 'teremos', 'terão', 'teria', 'teríamos', 'teriam']

In [24]:
import pandas as pd

lista_palavras = pd.DataFrame({"aaa": ["eu", "teste", "vc", "da", "um"]})
outras = pd.DataFrame({"aaa": palavras_irrelevantes})

#Can only merge Series or DataFrame objects AND cannot merge a Series without a name
merged_left = pd.merge(left=lista_palavras,
                       right=outras,
                       how='left', )
merged_left

     aaa
0     eu
1  teste
2     vc
3     da
4     um

In [25]:
lista_palavras.merge(outras, indicator='i', how='outer').query('i == "left_only"').drop('i', 1)

     aaa
1  teste
2     vc